/* * * 検索結果 * * */

/*
  動画モーダルのデザイン
*/

ytd-two-column-search-results-renderer ytd-video-renderer {
  background: var(--ytaq-fg, #3b4252) !important;
  border: 1px solid var(--ytaq-border, rgba(255,255,255,0.2));
  border-radius: 1rem;
}
ytd-two-column-search-results-renderer ytd-video-renderer .text-wrapper {
  padding: 1.5rem 0;
}
