/* * * 全体css（iframe内では適用しない） * * */

html:not(.ytfrozen-popup-iframe) ytd-app {
  background: var(--ytfrozen-bg, #434c5e) !important;
}

html:not(.ytfrozen-popup-iframe) ytd-masthead {
  background: var(--ytfrozen-bgsub, #2e3440) !important;
}


/* サイドバー（iframe内では適用しない） */
html:not(.ytfrozen-popup-iframe) tp-yt-app-drawer {
  background: var(--ytfrozen-sd, #434c5e) !important;
}

