:root {
  --aquarium-primary-h: 228;
  --aquarium-base-s: 12%;
  --aquarium-item-s: 20%;
  /* ベースカラー */
  --ytaq-bg: hsl(var(--aquarium-primary-h), var(--aquarium-base-s), 10%);
  --ytaq-bg-sub: hsl(var(--aquarium-primary-h), var(--aquarium-base-s), 12%);
  --ytaq-bg-line: hsl(var(--aquarium-primary-h), var(--aquarium-base-s), 24%);
  /* コンテンツカラー */
  --ytaq-item: hsl(var(--aquarium-primary-h), var(--aquarium-item-s), 12%);
  --ytaq-item-sub: hsl(var(--aquarium-primary-h), var(--aquarium-item-s), 16%);
  --ytaq-item-line: hsl(var(--aquarium-primary-h), var(--aquarium-item-s), 28%);

}