/* ホーム画面 */

/* 左にちょっと余白 */
ytd-two-column-browse-results-renderer[page-subtype="home"] #contents.ytd-rich-grid-renderer {
  padding-left: 24px;
}

/* カテゴリ表示欄 (ゲーム、音楽、最近アップロードされた動画とか選ぶやつ) */
ytd-two-column-browse-results-renderer[page-subtype="home"] #chips-wrapper {
  background: var(--ytaq-bg) !important;
  box-shadow: 0 1px 6px 1px hsla(var(--aquarium-primary-h), var(--aquarium-item-s), 28%, 0.6);
}

/* 動画コンテナ */
ytd-rich-item-renderer.style-scope.ytd-rich-grid-renderer {
  background: var(--ytaq-item) !important;
  margin-top: 2rem;
  border: 1px solid var(--ytaq-item-line) !important;
  border-radius: 1rem;
}

/* ショートコンテナ */

/* 幅調整 */
ytd-two-column-browse-results-renderer[page-subtype="home"] #content.ytd-rich-section-renderer {
  margin: 0 36px 0 8px !important;
}

/* デフォルトのホバー無効化 */
ytd-two-column-browse-results-renderer[page-subtype="home"] yt-touch-feedback-shape {
  display: none !important;
}


.yt-lockup-view-model--vertical.yt-lockup-view-model--rich-grid-legacy-margin .yt-lockup-view-model__content-image {
  padding: 0 !important;
}

ytd-rich-item-renderer[rendered-from-rich-grid][is-in-first-column] {
  margin-left: 8px !important;
}

yt-lockup-metadata-view-model.yt-lockup-metadata-view-model.yt-lockup-metadata-view-model--vertical.yt-lockup-metadata-view-model--standard.yt-lockup-metadata-view-model--typography-bump.yt-lockup-metadata-view-model--rich-grid-legacy-typography {
  padding: 1rem 2rem 1rem 1rem;
}

.yt-lockup-metadata-view-model__menu-button {
  top: 6px !important;
  right: 4px !important;
}